---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";

import Image from "astro/components/Image.astro";

import ucdlogo from "../assets/socs/ucd.svg";
import dculogo from "../assets/socs/dcu.svg";
import tudlogo from "../assets/socs/tud.svg";
import ucclogo from "../assets/socs/ucc.svg";
import ullogo from "../assets/socs/ul.svg";
import mulogo from "../assets/socs/mu.png";
import qcslogo from "../assets/socs/qcs.png";
import uglogo from "../assets/socs/ug.png";
import tcdlogo from "../assets/socs/tcd.png";
import Xlogo from "../assets/socs/tempX.png";

import lerologo from "../assets/sponsors/lero.png";
---

<head>
  <script src="https://js.tito.io/v2" is:inline async></script>
</head>

<Layout>
  <section id="hero">
    <h1 id="h1">
      A tech conference for students <br />
      <span class="colors"> by students </span>
    </h1>
    <p class="details">
      ------- --<sup>th</sup> April 2026<br />
      University of Limerick
    </p>

   
    <div class="cta">
      <a href="#tickets">BUY TICKETS NOW</a>
    </div>
  </section>

  <br />

  <main>
    <section id="about">
      <div class="stats">
        <div class="sideNum">
          <span class="num colors ">1</span><span class="unit">Day</span>
        </div>

        <div id="speakerNum">
          <span class="num colors "id="frontNum" >-</span><span class="unit">Speakers</span>
        </div>

        <div  class="sideNum">
          <span class="num colors">-</span><span class="unit">Sessions</span>
        </div>
      </div>


      <div id="AboutUs">
        <h2 id="AboutH2">About US</h2>
        <p>
        SISTEM is Ireland's most exciting student led tech conference, run (almost)
        every year by volunteers dedicated to spreading the word about new,
        exciting developments in the field and inspiring the next generation of
        hackers, innovators, and entrepreneurs through professional opportunities,industry knowledge, and invaluable networking-all run by students,for students.
      </p>

      </div>

      
    </section>

    <section id="socs">
      <h2>Societies Involved</h2>
      <div class="logos">
        <Image
          src={ullogo}
          alt="University of Limerick CompSoc logo"
          height={80}
        />
        <Image
          src={Xlogo}
          alt="University College Dublin NetSoc logo"
          height={80}
        />
        <!-- dcuogo-->
        <Image
          src={Xlogo}
          alt="Dublin City University Redbrick logo"
          height={80}
        />
        <!-- tud-->
        <Image
          src={Xlogo}
          alt="Technological University Dublin CS++ logo"
          height={80}
        />
        <!-- tcd-->
        <Image
          src={Xlogo}
          alt="Dublin University Computer Science Society logo"
          height={80}
        />
        <Image
          src={Xlogo}
          alt="University of Galway CompSoc logo"
          height={80}
        />
        <Image
          src={Xlogo}
          alt="University College Cork NetSoc logo"
          height={80}
        />
        <Image
          src={Xlogo}
          alt="Maynooth University Computer Science Society logo"
          height={80}
        />
        <Image src={Xlogo} alt="Queen's Computing Society logo" height={80} />
      </div>
    </section>

    <section id="tickets">
      <h2>Tickets</h2>
      <p>
        Each ticket includes <strong
          >full access to all of the conference events, breakfast and lunch, and
          also merch</strong
        >. Societies buying -- or more tickets will be billed at the discounted
        rate of &euro;-- per ticket. Societies may also contact us directly <a
          href="mailto:sistemconf@gmail.com">over email</a
        >
        to arrange tickets for their members.
      </p>
      <tito-widget class="ticket-widget" event="sistemconf/sistem-2025"
      ></tito-widget>
    </section>

    <section id="sponsors">
      <h2>Sponsors</h2>

      <div class="cardholder">
        <a href="#" target="_blank" rel="noreferrer noopener">
          <img src="# " alt="Sponsorlogo" height={50} />
        </a>
      </div>

      <p>
        Interested in sponsoring SISTEM? <a href="mailto:sistemconf@gmail.com"
          >Contact Us.</a
        >
      </p>
    </section>

    <section id="map">
      <h2>Location</h2>
      <iframe
        class="embed"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-8.596200942993166%2C52.66282341627397%2C-8.556032180786135%2C52.68332894067432&layer=mapnik&marker=52.67307738147864%2C-8.576116561889648"
      ></iframe><br /><small
        ><a
          href="https://www.openstreetmap.org/?mlat=52.67308&mlon=-8.57612#map=15/52.67308/-8.57612"
          >View Larger Map</a
        ></small
      >
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 0px 1rem;
  }

  #hero {
    min-height: 30svh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about {
    max-width: 768px;
    margin: 0px auto 2rem auto;
  }

  #sponsors {
    text-align: center;
  }

  #tickets {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    
  }

  #map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 2rem;
  }

  .details {
    text-align: center;
  }

  h1 {
    margin: 0px;
    font-size: 3rem;
     

    /* box-shadow: 0 0 10px 0 rgb(13, 65, 22); */ */
    /* background-color: #9cbf6d; */
  }

  .details {
    font-weight: bold;
    font-size: 1.1rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    flex-direction: row;
    /* border: 2px solid #5a8e2f; */
    /* background-color: #689133; */
    /* box-shadow: 0 0 10px 0 rgb(13, 65, 22); */
     


    .num {
      font-size: 4rem;
       text-shadow: 1px 8px 4px rgba(0, 0, 0, 0.2);
    }
   
    div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      padding-bottom: 1em;
      background-color: #5a8e2f;
       /* box-shadow: 0px 5px 10px 30px rgb(13, 65, 22);  */
    }
  }
  #speakerNum{
    background-color: #ed9a3b;
    transform: translateY(60px) scale(5:1);
      box-shadow: 
    0 20px 40px rgba(23, 54, 10, 0.4),
    0 10px 20px rgba(27, 93, 31, 0.2);
     z-index: 5; 
  }
 
  .sideNum{
       background-color: #5a8e2f;
       box-shadow: 
    0 20px 40px rgba(23, 54, 10, 0.4),
    0 10px 20px rgba(27, 93, 31, 0.2);
       z-index: 4;

  }
  #AboutUs{
   padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  #AboutH2{
     text-shadow: 10px 5px 3px rgba(87, 171, 89, 0.2);
    color: #ed9a3b;
color: linear-gradient(90deg, rgba(237, 154, 59, 1) 0%, rgba(243, 165, 76, 1) 35%, rgba(252, 237, 204, 1) 100%);
    text-align: center;
    
    width: 20%;
    
    font-size: 50px;
    


  }
  #AboutUs p{
    width: 70%;
  }

  .cardholder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
  }

  .embed {
    display: block;
    width: 80%;
    aspect-ratio: 5 / 1;
    border: 2px solid var(--blue-gradient);
    border-radius: 5px;
  }
   #frontNum{
      color: #5A8E2F;

    }


  .colors {
    
    background: #ed9a3b;
    background: linear-gradient(
      90deg,
      rgba(237, 154, 59, 1) 0%,
      rgba(243, 165, 76, 1) 35%,
      rgba(252, 237, 204, 1) 100%
    );
    color: transparent;
    background-clip: text;
  }

  @property --gr-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 90deg;
  }

  .cta {
    a {
      color: rgb(1, 1, 1);
      /* background: linear-gradient( */
      /*   var(--gr-angle), */
      /*   var(--blue-gradient), */
      /*   var(--green-gradient) */
      /* ); */
      background: #9cbf6d;
      background: #5a8e2f;
      background: radial-gradient(
        circle,
        rgba(90, 142, 47, 1) 0%,
        rgba(202, 214, 158, 1) 100%
      );
      padding: 5px 10px;
      border-radius: 5px;
      font-family: "JetBrains Mono";
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      transition:
        all 250ms ease-in-out,
        --gr-angle 350ms ease-in-out;
    }

    margin-bottom: 2rem;
    a:hover {
      --gr-angle: 270deg;
    }
  }

  @media only screen and (max-width: 600px) {
    .stats {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      flex-direction: column;
    }

    .cardholder {
      flex-direction: column;
      align-items: center;
    }

    .embed {
      width: 80%;
      aspect-ratio: 2 / 1;
    }
  }

  @media only screen and (min-width: 600px) {
    .stats {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
    }

    .cardholder {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 768px) {
    .stats {
      flex-direction: row;
    }

    .cardholder {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 80%;
      margin: 0 auto;
    }

    section:not(#hero) {
      margin-bottom: 2rem;
    }
  }

  @media only screen and (min-width: 992px) {
    .cardholder {
      flex-direction: row;
    }
  }

  @media only screen and (min-width: 1200px) {
    .logos {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
</style>
